@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.otf') format('opentype');
    font-display:auto;
    font-style:normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.otf') format('opentype');
    font-display:auto;
    font-style:normal;
    font-weight:500;
}
@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.otf') format('opentype');
    font-display:auto;
    font-style:normal;
    font-weight: 700;
}