.navbar {
    @include flex-center();
    justify-content: space-between;
    position: fixed;

    width: 100%;
    
    z-index: 10;
    padding: 20px 40px;

    color: white;

    transition: background .6s;
    
    & a,& a:hover,& a:visited {
        color: white;
    }
    
    &--dark {
        background: rgba(black, .8);
    }

    &__logo {
        @include flex-center();
    }

    &__burger {
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: auto;
        font-size: 1.8rem;
    }

    &__nav {
        @include flex-center();
        flex-direction: column;
        position: absolute;
        z-index: -1;

        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        background: black;

        font-size: 1.2rem;
    }

    &__link {
        @include flex-center();

        min-width: 200px;
        margin: 15px 0;
        padding: 10px;
        border: 1px white solid;

        cursor: pointer;
    }

    @include for-tablet-portrait-up {
        padding: 40px 40px;
        transition: padding .5s;

        &--dark {
            padding: 20px 40px;
        }

        &__burger {
            display: none;
        }

        &__nav {
            position: relative;
            flex-direction: row;
            background: none;
            height: auto;
            width: auto;
            font-size: 1rem;
        }

        &__link {
            border: none;
            min-width: auto;
            padding: 0 10px;
            margin: 0;
            margin-left: 10px;
        }
    }
}