.slider {
    @include dark-theme();
    @include flex-center();

    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    @include for-desktop-up {
        height: 700px;
    }

    @include for-big-desktop-up {
        height: 700px;
    }

    &__slide {
        position: absolute;
        width: 100%;
        height: 100%;

        transform: translateX(100%);
        z-index: 1;

    }
        &__mask {
            
            width: 0;
            height: 100%;
            transition: width 1s ease-in;
            overflow: hidden;

            &.is-active {
                width: 100%;
            }
        }
        &__img-wrap {
            @include flex-center();

            position: absolute;
            width: 100vw;
            height: 100%;

            img {
                // width: auto;
                min-width: 100%;
                min-height: 100%;
                position: absolute;

                @include for-tablet-portrait-up {
                    max-height: 100vh;
                }

                @include for-desktop-up {
                    max-height: none;
                }
            }
        }
        &__text {
            visibility: hidden;
            position: absolute;
            z-index: 4;
            top: 50%;
            left: 12vw;

            @include for-tablet-portrait-up {
                visibility: visible;
            }
        }
            &__desc {
                margin: 30px 0;
            }

    .is-prev {
        transform: translateX(0);
        z-index: 2;
        width: 100%;
    }

    .is-active {
        transform: translateX(0);
        z-index: 3;
    }

    &__btn {
        @include flex-center();

        cursor: pointer;
        position: absolute;
        width: 15%;
        height: 100%;

        font-size: 2rem;
        color: white;

        z-index: 5;

        opacity: 0;
        transition: opacity .3s;
        
        &--right {
            right: 0;
        }

        &--left {
            left: 0;
        }

        &:hover, &:active {
            opacity: 1;
        }

        &:active {
            
        }
    }

    &__point-wrap {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;

        width: 100%;
        z-index: 4;
    }
        &__point {
            cursor: pointer;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: white;
            margin: 0 10px;

            opacity: 0.3;
            
            -moz-transition: opacity .3s, transform .3s ease-out;
            -o-transition: opacity .3s, transform .3s ease-out;
            transition: opacity .3s, transform .3s ease-out;

            &:hover, &:active {
                opacity: 1;
                transform: scale(1.2);
            }

            &.is-active {
                opacity: 1;
            }
        }
}